@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 246, 238, 238;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 246, 238, 238;
  }
}

body {
  font-family: var(--font-body);
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tippy-box[data-theme~="flow"] {
  background-color: #f6eede;
  color: black;
  opacity: 0.95;
}

select {
  appearance: none; /* Standard */
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  background: none; /* Removes default background */
}
